{% extends 'base.html.twig' %}

{% block container %}
        <div class = "row">
            <div class = "col-2">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_user_tymy') }}">Moje tymy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Item 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Item 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Item 4</a>
                    </li>
                </ul>
            </div>
            <div class = "col-10">
                {% block row %}{% endblock %}
            </div>

        </div>
{% endblock %}
