<table class="table .table-sm">
    <thead>
    <tr>
        <th scope="col">Název</th>
        <th scope="col">Datum</th>
        <th scope="col">Adresa</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for turnaj in turnaje %}
        <tr>
            <th scope="row">{{ turnaj.nazev }}</th>
            <td>{{ turnaj.datum|date("d. m. Y") }}</td>
            <td>{{ turnaj.adresa }}</td>
            <td><a class="btn btn-primary btn-sm" href="{{ path("app_turnaj", {nazev: turnaj.nazev}) }}" role="button">Detail</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>